@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body{
  font-family: "Work Sans", sans-serif;
}

/* Shared style */

/* Dark 02 */
.text-light-gray{
  color:rgba(66, 66, 66, 1)
}

/* Dark 03 */
.text-gray{
  color:rgba(114, 114, 114, 1)
}

.of-our{
  color: #FF900E;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}


.bg-color{
  background-color: rgba(255, 144, 14, 0.1);
}

.display-flex{
  display: flex;
}
.nav-item{
  list-style: none;
  margin-right: 20px;
}
.nav-link{
text-decoration: none;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}

.brand{
  font-weight: 700;
  font-size: 2.5rem;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

.btn-common{
  background-color: #FF900E;
  color: #FFFFFF;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border: 0;
  margin-bottom: 50px;
  border-radius: 8px;
}

/* banner related style */
.banner-container{
max-width:850px;
margin: 0 auto;
text-align: center;
}
.banner-h1{
  font-weight: 700;
  font-size: 4rem;
}

.banner-img{
  width: 100%;
}
/*Responsive media query*/

@media screen and (max-width: 576px) {
 .navbar,
 .nav-links,
 .main-container{
  flex-direction: column;
 } 
}
.team-img-container{
  grid-template-columns: repeat(1, 1fr);
}

/*team and feature related style*/
.main-container{
  align-items: center;
  margin-top: 130px;
}


.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-right: 4.rem;
}
.our-feature{
  max-width: 530px;
  margin-left: 1rem;
  margin-left: 6rem;

}

.feature-title{
font-size: 2.8rem;
font-weight: 700;
}

#main-h3{
font-weight: 500;
}

@media screen and (min-width:576px)and (max-width:992px) {
  .main-container  
  { flex-direction: column;
  } 
}
/* End main section featured part */
.some-facts{
  font-size: 2.3rem;
  font-weight: 700;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}

.card-div{
  border: 1px solid tomato;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.card-section{
  width: 1440px;
  margin: 0 auto;
}
.number{
  font-size: 2.8rem;
  font-weight: 500;
  margin-top:0.5rem ;
  margin-bottom: 0.8rem;
}
.name{
  margin-top: 0.4rem;
  margin-bottom: 2.8rem;
}
#some-facts-heading{
  text-align: left;
}

.some-facts-h3{
  margin-bottom: 1rem;
  color: black;
  font-size: 2.3rem;
  font-weight: 700;
}

.some-fact-p{
  margin-bottom: 50px;
}

.sponsor-heading{
  max-width: 540px;
  margin: 0 auto;
  margin-top: 5rem;
  height: 130px;
  text-align: center;
}
.sponsor-img-container{
  max-width: 1440px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
  filter: grayscale(100%);
}